USE [master]
GO
/****** Object:  Database [Dem_predpriyatie]    Script Date: 30.01.2026 18:00:46 ******/
CREATE DATABASE [Dem_predpriyatie]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dem_predpriyatie', FILENAME = N'/var/opt/mssql/data/Dem_predpriyatie.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dem_predpriyatie_log', FILENAME = N'/var/opt/mssql/data/Dem_predpriyatie_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dem_predpriyatie].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dem_predpriyatie]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[Client_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NULL,
	[Phone] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[Client_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Department_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Quantity_personal] [int] NOT NULL,
 CONSTRAINT [PK_Departments] PRIMARY KEY CLUSTERED 
(
	[Department_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Employee_id] [int] IDENTITY(1,1) NOT NULL,
	[Position_id] [int] NOT NULL,
	[Department_id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Surname] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](14) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
	[length_years] [int] NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipment]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipment](
	[Equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[Employee_id] [int] NOT NULL,
	[Status_equipment_id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Number] [nvarchar](10) NOT NULL,
 CONSTRAINT [PK_Equipment] PRIMARY KEY CLUSTERED 
(
	[Equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materials]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materials](
	[Material_id] [int] IDENTITY(1,1) NOT NULL,
	[Measurement_id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Materials] PRIMARY KEY CLUSTERED 
(
	[Material_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurement]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Measurement](
	[Measurement_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](4) NOT NULL,
 CONSTRAINT [PK_Measurement] PRIMARY KEY CLUSTERED 
(
	[Measurement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Order_id] [int] IDENTITY(1,1) NOT NULL,
	[Specification_id] [int] NOT NULL,
	[Client_id] [int] NOT NULL,
	[Status_id] [int] NOT NULL,
	[Department_id] [int] NOT NULL,
	[Date_start] [date] NOT NULL,
	[Date_end] [date] NULL,
	[Summ_order] [decimal](10, 2) NOT NULL,
	[Quantity_product] [int] NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Position_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Position] PRIMARY KEY CLUSTERED 
(
	[Position_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Product_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Article] [nvarchar](8) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Purchase]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Purchase](
	[Purchase_id] [int] IDENTITY(1,1) NOT NULL,
	[Supplier_id] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Purchase] PRIMARY KEY CLUSTERED 
(
	[Purchase_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Recipe]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Recipe](
	[Recipe_id] [int] IDENTITY(1,1) NOT NULL,
	[Material_id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Recipe] PRIMARY KEY CLUSTERED 
(
	[Recipe_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Specification]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Specification](
	[Specification_id] [int] IDENTITY(1,1) NOT NULL,
	[Warehouse_id] [int] NOT NULL,
	[Recipe_id] [int] NOT NULL,
	[Product_id] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[Remains] [int] NOT NULL,
 CONSTRAINT [PK_Specification] PRIMARY KEY CLUSTERED 
(
	[Specification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Status_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Status_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_equipment]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_equipment](
	[Status_equipment_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_Status_equipment] PRIMARY KEY CLUSTERED 
(
	[Status_equipment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Suppliers]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Suppliers](
	[Supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Phone] [nvarchar](15) NOT NULL,
	[Email] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Suppliers] PRIMARY KEY CLUSTERED 
(
	[Supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Warehouse]    Script Date: 30.01.2026 18:00:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Warehouse](
	[Warehouse_id] [int] IDENTITY(1,1) NOT NULL,
	[Purchase_id] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[Address] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Warehouse] PRIMARY KEY CLUSTERED 
(
	[Warehouse_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Clients] ON 

INSERT [dbo].[Clients] ([Client_id], [Name], [Surname], [Patronymic], [Phone], [Email]) VALUES (1, N'Александр', N'Романов', N'Георгиевич', N'123456789', N'sasa@gmail.com')
INSERT [dbo].[Clients] ([Client_id], [Name], [Surname], [Patronymic], [Phone], [Email]) VALUES (3, N'Артем', N'Бурдаков', N'Дмитриевич', N'232132144', N'artem@gmail.com')
INSERT [dbo].[Clients] ([Client_id], [Name], [Surname], [Patronymic], [Phone], [Email]) VALUES (5, N'Алексей', N'Черкасов', N'Владимирович', N'213213131', N'leha@gmail.com')
SET IDENTITY_INSERT [dbo].[Clients] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Department_id], [Name], [Quantity_personal]) VALUES (1, N'Выпекания', 3)
INSERT [dbo].[Departments] ([Department_id], [Name], [Quantity_personal]) VALUES (2, N'Программирования', 1)
INSERT [dbo].[Departments] ([Department_id], [Name], [Quantity_personal]) VALUES (4, N'Управления', 5)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Employee_id], [Position_id], [Department_id], [Name], [Surname], [Patronymic], [Phone], [Email], [length_years]) VALUES (1, 1, 1, N'Александр', N'Александров', N'Александрович', N'2131241414', N'sasa@gmail.com', 2)
INSERT [dbo].[Employees] ([Employee_id], [Position_id], [Department_id], [Name], [Surname], [Patronymic], [Phone], [Email], [length_years]) VALUES (2, 2, 2, N'Андрей', N'Андреев', N'Андреевич', N'2142141244', N'andrey@gmail.com', 3)
INSERT [dbo].[Employees] ([Employee_id], [Position_id], [Department_id], [Name], [Surname], [Patronymic], [Phone], [Email], [length_years]) VALUES (3, 3, 4, N'Дмитрий', N'Дмитриев', N'Дмитриевич', N'2312131231', N'dima@gmail.com', 2)
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Equipment] ON 

INSERT [dbo].[Equipment] ([Equipment_id], [Employee_id], [Status_equipment_id], [Name], [Number]) VALUES (1, 1, 1, N'Касса', N'21312321')
INSERT [dbo].[Equipment] ([Equipment_id], [Employee_id], [Status_equipment_id], [Name], [Number]) VALUES (2, 2, 1, N'Плита', N'43534535')
INSERT [dbo].[Equipment] ([Equipment_id], [Employee_id], [Status_equipment_id], [Name], [Number]) VALUES (3, 3, 2, N'Умывальник', N'32432424')
SET IDENTITY_INSERT [dbo].[Equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Materials] ON 

INSERT [dbo].[Materials] ([Material_id], [Measurement_id], [Name], [Quantity]) VALUES (1, 1, N'Мука', 2)
INSERT [dbo].[Materials] ([Material_id], [Measurement_id], [Name], [Quantity]) VALUES (2, 2, N'Вода', 1)
INSERT [dbo].[Materials] ([Material_id], [Measurement_id], [Name], [Quantity]) VALUES (3, 1, N'Кокао', 1)
SET IDENTITY_INSERT [dbo].[Materials] OFF
GO
SET IDENTITY_INSERT [dbo].[Measurement] ON 

INSERT [dbo].[Measurement] ([Measurement_id], [Name]) VALUES (1, N'кг')
INSERT [dbo].[Measurement] ([Measurement_id], [Name]) VALUES (2, N'литр')
INSERT [dbo].[Measurement] ([Measurement_id], [Name]) VALUES (5, N'грам')
SET IDENTITY_INSERT [dbo].[Measurement] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([Order_id], [Specification_id], [Client_id], [Status_id], [Department_id], [Date_start], [Date_end], [Summ_order], [Quantity_product]) VALUES (1, 1, 1, 1, 1, CAST(N'2026-01-18' AS Date), CAST(N'2026-02-18' AS Date), CAST(2000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([Order_id], [Specification_id], [Client_id], [Status_id], [Department_id], [Date_start], [Date_end], [Summ_order], [Quantity_product]) VALUES (4, 2, 3, 2, 2, CAST(N'2026-01-18' AS Date), CAST(N'2026-02-18' AS Date), CAST(3000.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Orders] ([Order_id], [Specification_id], [Client_id], [Status_id], [Department_id], [Date_start], [Date_end], [Summ_order], [Quantity_product]) VALUES (7, 3, 3, 1, 1, CAST(N'2026-01-18' AS Date), CAST(N'2026-02-18' AS Date), CAST(5000.00 AS Decimal(10, 2)), 1)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Position_id], [Name], [Salary]) VALUES (1, N'Продавец', CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[Position] ([Position_id], [Name], [Salary]) VALUES (2, N'Менеджер', CAST(45000.00 AS Decimal(10, 2)))
INSERT [dbo].[Position] ([Position_id], [Name], [Salary]) VALUES (3, N'Пекарь', CAST(23000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Product_id], [Name], [Price], [Article], [Description]) VALUES (1, N'Хлеб', CAST(50.00 AS Decimal(10, 2)), N'12345', N'Сорт 1')
INSERT [dbo].[Products] ([Product_id], [Name], [Price], [Article], [Description]) VALUES (2, N'Лемонад', CAST(80.00 AS Decimal(10, 2)), N'22345', N'Колоколчик')
INSERT [dbo].[Products] ([Product_id], [Name], [Price], [Article], [Description]) VALUES (3, N'Шоколад', CAST(100.00 AS Decimal(10, 2)), N'32345', N'Молочный')
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchase] ON 

INSERT [dbo].[Purchase] ([Purchase_id], [Supplier_id], [Date], [Price], [Quantity]) VALUES (1, 1, CAST(N'2026-01-18' AS Date), CAST(1200.00 AS Decimal(10, 2)), 1)
INSERT [dbo].[Purchase] ([Purchase_id], [Supplier_id], [Date], [Price], [Quantity]) VALUES (2, 2, CAST(N'2026-01-18' AS Date), CAST(2000.00 AS Decimal(10, 2)), 2)
INSERT [dbo].[Purchase] ([Purchase_id], [Supplier_id], [Date], [Price], [Quantity]) VALUES (3, 3, CAST(N'2026-01-18' AS Date), CAST(3000.00 AS Decimal(10, 2)), 3)
SET IDENTITY_INSERT [dbo].[Purchase] OFF
GO
SET IDENTITY_INSERT [dbo].[Recipe] ON 

INSERT [dbo].[Recipe] ([Recipe_id], [Material_id], [Quantity]) VALUES (1, 1, 1)
INSERT [dbo].[Recipe] ([Recipe_id], [Material_id], [Quantity]) VALUES (2, 2, 2)
INSERT [dbo].[Recipe] ([Recipe_id], [Material_id], [Quantity]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[Recipe] OFF
GO
SET IDENTITY_INSERT [dbo].[Specification] ON 

INSERT [dbo].[Specification] ([Specification_id], [Warehouse_id], [Recipe_id], [Product_id], [Quantity], [Remains]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[Specification] ([Specification_id], [Warehouse_id], [Recipe_id], [Product_id], [Quantity], [Remains]) VALUES (2, 2, 2, 2, 2, 2)
INSERT [dbo].[Specification] ([Specification_id], [Warehouse_id], [Recipe_id], [Product_id], [Quantity], [Remains]) VALUES (3, 3, 3, 3, 3, 3)
SET IDENTITY_INSERT [dbo].[Specification] OFF
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Status_id], [Name]) VALUES (1, N'В работе')
INSERT [dbo].[Status] ([Status_id], [Name]) VALUES (2, N'Выполнен')
INSERT [dbo].[Status] ([Status_id], [Name]) VALUES (3, N'Отменен')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[Status_equipment] ON 

INSERT [dbo].[Status_equipment] ([Status_equipment_id], [Name]) VALUES (1, N'В работе')
INSERT [dbo].[Status_equipment] ([Status_equipment_id], [Name]) VALUES (2, N'Ремонт')
INSERT [dbo].[Status_equipment] ([Status_equipment_id], [Name]) VALUES (3, N'Свободно')
SET IDENTITY_INSERT [dbo].[Status_equipment] OFF
GO
SET IDENTITY_INSERT [dbo].[Suppliers] ON 

INSERT [dbo].[Suppliers] ([Supplier_id], [Name], [Phone], [Email]) VALUES (1, N'ООО_МИР', N'23131213', N'mir@gmail.com')
INSERT [dbo].[Suppliers] ([Supplier_id], [Name], [Phone], [Email]) VALUES (2, N'ООО_КИФИР', N'12341244', N'kifir@gmail.com')
INSERT [dbo].[Suppliers] ([Supplier_id], [Name], [Phone], [Email]) VALUES (3, N'ООО_ХЛЕБ', N'43534543', N'hleb@gmail.com')
SET IDENTITY_INSERT [dbo].[Suppliers] OFF
GO
SET IDENTITY_INSERT [dbo].[Warehouse] ON 

INSERT [dbo].[Warehouse] ([Warehouse_id], [Purchase_id], [Name], [Address]) VALUES (1, 1, N'Цех мира', N'ул. Новая 10')
INSERT [dbo].[Warehouse] ([Warehouse_id], [Purchase_id], [Name], [Address]) VALUES (2, 2, N'Цех пруд', N'ул. Злая 10')
INSERT [dbo].[Warehouse] ([Warehouse_id], [Purchase_id], [Name], [Address]) VALUES (3, 3, N'Цех труда', N'ул. Добрая 10')
SET IDENTITY_INSERT [dbo].[Warehouse] OFF
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Departments] FOREIGN KEY([Department_id])
REFERENCES [dbo].[Departments] ([Department_id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Departments]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Position] FOREIGN KEY([Position_id])
REFERENCES [dbo].[Position] ([Position_id])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Position]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Employees] FOREIGN KEY([Employee_id])
REFERENCES [dbo].[Employees] ([Employee_id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Employees]
GO
ALTER TABLE [dbo].[Equipment]  WITH CHECK ADD  CONSTRAINT [FK_Equipment_Status_equipment] FOREIGN KEY([Status_equipment_id])
REFERENCES [dbo].[Status_equipment] ([Status_equipment_id])
GO
ALTER TABLE [dbo].[Equipment] CHECK CONSTRAINT [FK_Equipment_Status_equipment]
GO
ALTER TABLE [dbo].[Materials]  WITH CHECK ADD  CONSTRAINT [FK_Materials_Measurement] FOREIGN KEY([Measurement_id])
REFERENCES [dbo].[Measurement] ([Measurement_id])
GO
ALTER TABLE [dbo].[Materials] CHECK CONSTRAINT [FK_Materials_Measurement]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Clients] FOREIGN KEY([Client_id])
REFERENCES [dbo].[Clients] ([Client_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Clients]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Departments] FOREIGN KEY([Department_id])
REFERENCES [dbo].[Departments] ([Department_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Departments]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Specification] FOREIGN KEY([Specification_id])
REFERENCES [dbo].[Specification] ([Specification_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Specification]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Status] FOREIGN KEY([Status_id])
REFERENCES [dbo].[Status] ([Status_id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Status]
GO
ALTER TABLE [dbo].[Purchase]  WITH CHECK ADD  CONSTRAINT [FK_Purchase_Suppliers] FOREIGN KEY([Supplier_id])
REFERENCES [dbo].[Suppliers] ([Supplier_id])
GO
ALTER TABLE [dbo].[Purchase] CHECK CONSTRAINT [FK_Purchase_Suppliers]
GO
ALTER TABLE [dbo].[Recipe]  WITH CHECK ADD  CONSTRAINT [FK_Recipe_Materials] FOREIGN KEY([Material_id])
REFERENCES [dbo].[Materials] ([Material_id])
GO
ALTER TABLE [dbo].[Recipe] CHECK CONSTRAINT [FK_Recipe_Materials]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Products] FOREIGN KEY([Product_id])
REFERENCES [dbo].[Products] ([Product_id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Products]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Recipe] FOREIGN KEY([Recipe_id])
REFERENCES [dbo].[Recipe] ([Recipe_id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Recipe]
GO
ALTER TABLE [dbo].[Specification]  WITH CHECK ADD  CONSTRAINT [FK_Specification_Warehouse] FOREIGN KEY([Warehouse_id])
REFERENCES [dbo].[Warehouse] ([Warehouse_id])
GO
ALTER TABLE [dbo].[Specification] CHECK CONSTRAINT [FK_Specification_Warehouse]
GO
ALTER TABLE [dbo].[Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Warehouse_Purchase] FOREIGN KEY([Purchase_id])
REFERENCES [dbo].[Purchase] ([Purchase_id])
GO
ALTER TABLE [dbo].[Warehouse] CHECK CONSTRAINT [FK_Warehouse_Purchase]
GO
USE [master]
GO
